.wrapper {
  display: block;
}

/* Выравнивание через переменную, т.к. inherit на потомках может не сработать из-за их классов */
.wrapper > * {
  text-align: var(--block-text-align, inherit) !important;
  font-size: inherit !important;
}
